<div class="conteiner">
    <div class="backgroundImage">
        <h2>Texto en blanco para imagen de fondo</h2>
        <div class="homeText animated slideInUp">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus, magni nihil nostrum repellat quam placeat, molestiae nulla distinctio debitis commodi alias, beatae eos blanditiis asperiores eligendi corrupti esse. Rem, sit?</p>
        </div>
    </div>
    <div class="clicksContainer">
        <button class="btn btn-primary" (click)="aumentarClicks()">¡Hazme Click!</button>
        <p class="mp0"> Total de clicks: {{ clicks }}</p>
    </div>
    <div class="homeContainer">
        <div class="animated fadeIn">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png" alt="">
        </div>
        <div class="animated fadeIn">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png" alt="">
        </div>
    </div>
    
</div>